:root {
	--edu-pop-bg: rgba(15, 209, 160, 0.85);
	--edu-pop-tt: rgba(15, 199, 160, 0.85);
	--proj-pop-bg: rgba(0, 139, 10, 0.85);
	--proj-pop-tt: rgba(0, 149, 10, 0.85);
	--job-pop-bg: rgba(50, 209, 10, 0.85);
	--job-pop-tt: rgba(60, 209, 10, 0.85);
	--day-pop-bg: rgba(209, 230, 0, 0.85);
	--day-pop-tt: rgba(209, 209, 0, 0.85);
}

.cover-text {
	vertical-align: middle;
}

/* timeline bar */
#timeline {
	margin: auto;
	width: 90%;
	height: 2px;
	background: rgba(0, 199, 10, 0.49);
	border-radius: 3px;
	box-shadow: 0 0 10px green;
}



/* thumbnails */
.thumb {
	width: 60px;
	height: 60px;
/*	display: inline;*/
}
.thumb img {
	max-width: 100%;
	max-height: 100%;
}


/* the zoomed-in images (modal popup) */

.enlarge-image-modal {
	z-index: 999;
	width: 100%;
	height: 100%;
	position:fixed;
	background: rgba(0,0,0,0.7);
	top: 20px;
    left: 0;  /* without this it indents... don't understand why! */
	padding: 5%;
	text-align: center;
}

.zoom-img {
/*	width: 100%;*/
	height: 90%;
}


/* pop-up items */

.item-wrapper.show {
	animation: appear 0.2s 1 linear;
}

.item-wrapper.show.pos-2 {
	animation: appear 0.2s 1 reverse;
}

@keyframes appear {
	from { top: 0; }
	to   { top: -500%; }
}


div#timeline div.orb div.item-wrapper{

	min-width: 300px;
	font-size: 0.9em;
	color: white;
	overflow-y: auto;
	border-radius: 5px;
	position: relative;
}
div#timeline div.orb div.item-wrapper.date {
	width: auto;
	min-width: 150px;
}

div#timeline div.orb div.item-wrapper div{
  padding: 2px 8px;
}

div#timeline div.orb div.item-wrapper.pos-0{
	top: -300px;
}
div#timeline div.orb div.item-wrapper.pos-1{
	top: -125px;
}
div#timeline div.orb div.item-wrapper.pos-2{
	top: 25px;
}

div#timeline div.orb div.item-wrapper.project {
	background: var(--proj-pop-bg);
}
div#timeline div.orb div.item-wrapper.project .header, 
div#timeline div.orb div.item-wrapper.project .footer {
	background: var(--proj-pop-tt);
}

div#timeline div.orb div.item-wrapper.education {
	background: var(--edu-pop-bg);
}
div#timeline div.orb div.item-wrapper.education .header, 
div#timeline div.orb div.item-wrapper.education .footer {
	background: var(--edu-pop-tt);
}
div#timeline div.orb div.item-wrapper.date {
	background: var(--day-pop-bg);
}
div#timeline div.orb div.item-wrapper.date .header, 
div#timeline div.orb div.item-wrapper.date .footer {
	background: var(--day-pop-tt);
}

div#timeline div.orb div.item-wrapper.job {
	background: var(--job-pop-bg);
}
div#timeline div.orb div.item-wrapper.job .header, 
div#timeline div.orb div.item-wrapper.job .footer {
	background: var(--job-pop-tt);
}

div#timeline div.orb div.item-wrapper .header {
	border-bottom: 0.1px solid darkgreen;
}

div#timeline div.orb div.item-wrapper .footer {
	
	border-top: 0.5px solid darkgreen;
	font-size: 1.2em;
	border-radius: 0 0 5px 5px;
/*	margin-top: 5px;*/
}
	


div#timeline div.orb div.item-wrapper [name="title"] {
	
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	display: inline-block;
	padding-right: auto;
}

div#timeline div.orb div.item-wrapper [name="subHeading"] {
		
	margin-left: 5px;
	font-style: italic;
}

div#timeline div.orb div.item-wrapper [name="description"] {
	text-align: justify;
}
