:root {
	--cover-bg: rgb(7,22,114);
	--overlay-shade: rgba(0,0,0,0.75);
	/*	--page-bg: rgba(80,80,145, 1);*/
	/*	--page-bg: rgb(23,44,175);*/
	--page-bg: rgb(18,62,171);
	/*	--box-shade: rgba(250,250,250, .21);*/
	--divider-colour1: #FFAB00;
	--divider-colour2: #FFAB00;
	/*	--divider-colour2: rgba(255,171, 0, .7);	*/

	--project-shade: rgba(255,255,255, 0.8);
	--project-shade: rgba(219, 227, 255, 0.8);
	/*	--text-colour: rgba(219, 227, 255, 1);*/
	--text-colour: white;
	/*	--text-shade: rgba(30,30,45,1);*/
	/*	--title-colour: rgba(236, 230, 77, 0.8);*/
	--title-colour: rgba(219, 227, 255, 1);
	/*	--title-colour: var(--divider-colour1);*/
	/*	--title-colour: gold;*/
	--job-dates-bg: rgb(70,111,213);
	/*--job-title-color: */


	--job-history: #86C98A;
	/*	--job-history: #AFD2B4;*/
	--job-card-bg: #2D8632;
	/*--job-div: #AA6E39;*/
	--job-div: #8B2E5F;


	--acheivements-text: navy;
	--acheivements-bg: white;
}


div {
	letter-spacing: 0.5px;
}

.enlarge-image-modal {
	background: var(--overlay-shade);
	z-index: 999;
	width: 100%;
	height: 100%;
	position:fixed;
	top: 0;
	left: 0;
	padding: 5%;
	text-align: center;
}
.zoom-img {
	max-height: 90%;
	max-width: 90%;
}

#up {
	position: fixed;
	bottom: 50px;
	right: 20px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid var(--divider-colour1);
	/*	border-bottom: 20px solid black;*/
}
#down {
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid var(--divider-colour1);
	/*	border-top: 20px solid black;*/
}

#up-down-nav div {
	z-index: 999;
}

#up-down-nav div:hover, #footer .to-top:hover {
	cursor: pointer;
	opacity: 0.5;
}


body {
	background: var(--job-dates-bg);
	padding-top: 56.1px;
	color: var(--text-colour);
	overflow: hidden;
	max-width: 1018px;
	margin: auto;
	/*	max-height: 550px;*/
	/*	height: 800px;*/
	font-family: helvetica, verdana, sans-serif;
}

#cv-sheet-header,
#job-history,
#education-references, 
#projects-carousel {
	width: 100%;
	height: 100%;
	display: table;
}

#cv-sheet-header {
	padding: 50px 10% 0 10%;
	background: var(--job-dates-bg);
}

#cv-sheet-header #title {
	display: table-cell;
	width: 30%;
	vertical-align: middle;
	text-align: center;
	font-size: 3rem;
	min-width: 245px;
}

#cv-sheet-header #sub-head {
	display: table-cell;
	/*	width: 73%;*/
	text-align: justify;
	vertical-align: middle;
	padding: 0 5%;
}

.divider {
	width: 100%;
	background: linear-gradient(to bottom, var(--job-dates-bg), var(--job-dates-bg) 65%, var(--divider-colour1) 25%);
	padding: 2px 10px;
	padding-top: 60px;
	color: var(--cover-bg);
	font-weight: bolder;
}
.divider .divider-title {
	text-transform: uppercase;
}

#div-1 {
	background: linear-gradient(to bottom, var(--job-dates-bg), var(--job-dates-bg) 65%, var(--job-div) 25%);
	color: var(--job-history);
}
.job ::-webkit-scrollbar-thumb  {
	background: var(--job-div);
}
.job span:hover {
	color: var(--job-div);
	cursor: pointer;
	/*	font-weight: bold;*/
}

#job-history {

	/*	background: var(--page-bg);*/
	background: var(--job-history);
	padding: 1% 2% 0 2%;
}

#job-wrapper {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 20px;
}


.job {
	display: inline-block;
	width: 31.3%;
	margin: 0 1%;
	min-height: 50px; 
	max-height: 439px;
	height: 88%;
	padding: 2% 0;
	vertical-align: top;
	background: var(--job-dates-bg);
}

.job .footer {
	text-align: center;
	padding-bottom: 5%;
}

.job .header {
	display: table;
	width: 90%;
	margin:auto;
	padding-bottom: 2%;
	height: 15%;
	min-height: 87px;
	font-size: 1.2em;
	font-weight: bold;	
}
.job .title {
	text-shadow: 1px 1px 2px var(--cover-bg), -1px -1px 2px var(--cover-bg);
}
.job .subHeading {
	text-align: right;
	font-style: italic;
	/*	text-decoration: underline;*/
}
.job .body {
	text-align: justify;
	min-height: 100px;
	max-height: 260px;
	overflow-y: auto;
	padding-left: 5%;
	padding-right: 2%;
	margin-right: 2%;
}
.job .description {
	min-height: 100px;
}

.job span, .project span {
	font-size: 0.75em;
	text-transform: uppercase;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--divider-colour1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--page-bg);
}


/* Education & Acheivements */
#education-references {
	padding: 5%;
	/*	background: var(--job-dates-bg);	*/
	background: var(--acheivements-bg);	
	color: var(--acheivements-text);
	/*	text-shadow: 1px 1px 3px darkgray, -1px -1px 3px darkgray;*/
	font-weight: bold;
}

#education-references .left-block, 
#education-references .right-block {
	width: 49%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

/*the main titles*/
#education-references span {
	text-decoration: underline;
	text-decoration-color: var(--divider-colour1);
	text-decoration-style: wavy;
	/*	font-family: verdana, serif;*/
	font-size: 1.2em;
	display: block;
}

#education .body {
	padding: 2% 1% 5% 5%;
}


#certificates span {
	display: block;
}
#certificates {
	padding: 2% 0 0 0;
}

#certificates .cert-outer {
	min-height: 80px;
	width: 40%;
	display: inline-block;
	margin-left: 5%;
}
#certificates .cert-langs {
	display: inline-block;
	font-size: 0.7em;
	max-width: 95px;
	min-width: 85px;
	width: 45%;
	vertical-align: top;
}
#certificates .img:hover {
	cursor: pointer;
}
#certificates .img {
	max-height: 77px;
	max-width: 49%;
	display: inline-flex;
	padding-top: 1%;
}
#certificates img {
	/*	height: 100%;*/
	width: 90%;
	/*	margin-right: auto;*/
}


#references {
	box-sizing: border-box;
	padding: 0 2em 0 1em;
	/*	box-shadow: inset 0 0 100px var(--box-shade);	*/
}


/*the "references" bullet-pointed titles*/
#references div.head {
	display: inline-block;
	font-style: italic;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em;
}
#references p.body {
	padding-left: 5%;
	margin: 0;
	display: inline-block;
	margin-bottom: 2%;
	text-align: justify;
}



/* Projects */
#carouselContents a.carousel-control-prev, #carouselContents a.carousel-control-next{

	width: 5%;
	background: var(--cover-bg);
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: auto 3px;
	/*	color: black;*/
	/*	background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%24fff' …3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e);*/
}

#projects-carousel {
	height: 95%;
	color: var(--cover-bg);
	background: var(--page-bg);
}
.carousel-inner{
	height: 90%;
}
.carousel-item {
	height: 100%;
}
#carouselContents {
	background: var(--page-bg);
	height: 100%;
}


ol.carousel-indicators li {
	background-color: var(--cover-bg);
}

.project-outer {

	height: 100%;
	background: var(--project-shade);
	padding: 0 30%;
	/*	font-family: sans-serif;*/
	display: table;
}
.project-inner {
	background: rgba(255,255,255,0.75);
	padding: 0 1% 0 3%;
/*	border-radius: 2%;*/
	display: table-cell;
	vertical-align: middle;
}

.project span:hover {
	cursor: pointer;
	color: var(--divider-colour1);
}

/*
.project .header, .project .body, .project .footer {
background: rgba(255,255,255,0.7);
padding: 2%;
margin: 0;
border-radius: 5%;
}
*/

.project .header {
	text-align: center;
}
.project .title {
	font-weight: bold;
	/*	font-family: serif;*/
	font-size: 1.1em;
	margin-bottom: 1%;
	text-decoration: underline;
}

.project .subHeading {
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
}
.project .body {
	overflow-y: auto;
	max-height: 70%;
	margin-bottom: 4px;
}

.project .description {
	margin-top: 2%;
	padding-top: 2%;
	height: 100%;
	text-align: justify;
}

.project .footer {
	text-align: right;
	margin-bottom: 5px;
	font-size: 0.8em;
}


.carousel-indicators {
	height: 4%;
	margin-top: 1%;
}


#footer .to-top {

	width: 30px;
	position: fixed;
	bottom: 20px;
	left: 20px;
}

#footer .to-top #top1 {
	height: 7px;
	width: 25px;
	background: var(--divider-colour1);
	/*	background: black;*/
	border-radius: 15%;
}

#footer .to-top #top2 {
	margin-top: 2px;
	width: 25px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 15px solid var(--divider-colour1);
	/*	border-bottom: 13px solid black;*/
	border-radius: 15%;
}




/* Media Queries! */


/* 
1536 == monitor full-screen
1098 == laptop full-screen   (& tablet landscape; roughly)
768 == monitor half-screen  (& tablet portrait)
568 == phone landscape
375 == phone portrait
*/


@media only screen and ( max-width: 935px ) {

	#job-history {
		display: block;
		width: 100%;
		overflow-y: auto;
		padding-bottom: 10%;
	}
	.job {
		margin: 0 0 2% 0;
		padding: 1em 2em 4% 2em;
		display: block;
		width: 100%;
		max-height: 350px;
	}
	.job .header .title ,
	.job .header .subHeading {
		display: table-cell;
		vertical-align: middle;
		width: 49%;
		padding: 0;
	}
	.job .header {
		padding-bottom: 0;
		min-height: 50px;
	}
	.job .footer { 
		padding: 5px 0 0 0;
		width: 90%;
		margin: auto;
		text-align: left;
	}
	.job .body {
		max-height: 150px;
	}

}

@media only screen and ( max-width: 768px ) {
	/* tablets... */

	#cv-sheet-header {
		padding: 15% 15% 5% 15%;
	}

	#cv-sheet-header #title {
		/*		color: yellow	;*/
		display: block;
		width: 100%;
		margin-bottom: 10%;
	}

	#cv-sheet-header #sub-head {
		display: block;
		width: 100%;
		padding: 2% 10%;
	}


}



@media only screen and ( max-width: 650px ) {
	/*@media only screen and ( max-width: 0px ) {*/
	/*   at 568px (iphone6 and above landscape) or less, do: */

	body {
		overflow: auto;
	}

	#up-down-nav {
		visibility: hidden;
	}

	div {
		letter-spacing: 0.9px;
	}
	.enlarge-image-modal {
		padding-top: 30%;
	}

	#cv-sheet-header {
		padding: 10% 2% 2% 2%;
	}

	#cv-sheet-header #title {
		line-height: 88%;
	}

	.divider {
		padding-top: 2px;
		background: var(--divider-colour1);
	}
	#div-1 {
		padding-top: 2px;
		background: var(--job-div);
	}

	#job-history {
		height:auto;
		padding-bottom: 0;
	}
	.job {
		padding: 2% 0 5% 0;
	}
	#education-references, #education, #references {
		padding: 2%;
	}
	.job .header .title, .job .header .subHeading {
		display: block;
		width: 100%;
	}

	.job .header {
		min-height: 0;
		padding-bottom: 10px;
	}

	#education-references {
		/*		padding: 0;*/
		padding: 5% 2% 2% 2%;
		display: block;
		/*		overflow-y: auto;*/
		height: auto;
		line-height: 1.3em;
	}
	#certificates {
		margin-bottom: 3%;
	}
	.cert-outer {
		line-height: 1em;
	}
	#education-references .left-block, 
	#education-references .right-block, 
	#education, #references, #certificates {
		display: block;
		width: 100%;
		/*		padding: 1em;*/
	}	
	#references .body {
		padding: 0 1% 0 5%;
	}
	#education, #references {
		padding: 0;
		padding-bottom: 5px;
	}
	#education .education {
		margin-bottom: 5px;
	}


	#projects-carousel {
		padding: 0;
	}

	.project-outer {
		padding: 0 20%;
	}
	.project .subHeading {
		font-size: 0.5em;
		/*		font-weight: normal;*/
	}
	.project .footer {
		padding: 10px 3% 0 0;
	}

	.project .body {
		padding: 0 2.5%;
		max-height: 300px;
	}

	#footer .to-top {
		left: 2%;
		bottom: 2%;
	}
}


