/* desktop = max-width: 1000px, min-width: 600px
[title]  [lead]
[carouselle if list > 3] [job1] [job2] [job3]
[acheivements] [ references]
[crouselle if list > 3] [project1] [project2] [project3]
([hobbies])

tablet = max-width: 599px, 
h2 { margin-bottom: 20px; }

*/

/* https://vanseodesign.com/css/vertical-centering/    <<< print this!! */  


:root {
	--page-bg: rgba(80,80,115, 0.6);
	--overlay-shade: rgba(0,0,0,0.5);
	--box-shade: rgba(30,30,45,0.6);
	--project-shade: rgba(60,60,85, 0.8);
	--text-colour: rgba(129, 167, 255, 1);
	--text-shade: rgba(30,30,45,1);
	--title-colour: rgba(145,183,255, 1);
}

.subHeading {
	color: var(--title-colour);
	font-weight: bold;
}
body, .cover {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 320px;
}
div {
	letter-spacing: 0.5px;
}

.enlarge-image-modal {
	background: var(--overlay-shade);
	z-index: 999;
	width: 100%;
	height: 100%;
	position:fixed;
	top: 20px;
	left: 0;
	padding: 5%;
	text-align: center;
}
.zoom-img {
	max-height: 90%;
	max-width: 90%;
}

#cv-background-cover {
	width: 100%;
	height: 100%;
/*	margin: 0;*/
	background: var(--overlay-shade);
	color: var(--text-colour);
	font-family: serif;
/*	border: none;*/
	box-sizing: border-box;
	overflow-y: scroll;
	padding-top: 70px;
}
	
#cv-sheet-div {
	
	box-sizing: border-box;
	background: var(--page-bg);
	max-width: 1000px;
	min-width: 300px;
	width: 75%;	
	margin: 0 auto;

	font-size: 18px;
	font-weight: 500;
	text-shadow: 1px 1px 3px var(--text-shade), -1px -1px 3px var(--text-shade);

}

#cv-sheet-header {
	max-height: 150px;
	min-height: 55px;
	height: 25%;
	display: table;
	width: 100%;
	padding: 2em;
}

#cv-sheet-header {
	box-shadow: inset 0 0 100px var(--box-shade);	
	background: var(--page-bg);
}

#cv-sheet-header #title {
	display: table-cell;
	width: 23%;
	vertical-align: middle;
	text-align: center;
}

#cv-sheet-header #sub-head {
	display: table-cell;
	width: 73%;
	text-align: justify;
	vertical-align: middle;
	padding: 0 2%;
	font-family: sans-serif;
}

.divider {
	width: 100%;
/*	background: linear-gradient(to right, yellow, red 50%, green 75%, white 75%);*/
	background: linear-gradient(to right, rgba(255,206,88, 0.5), var(--box-shade) 21%);
	padding: 2px 10px;
	box-shadow: 0.5px 0 3px var(--box-shade);	
}
.divider .divider-title {
	text-transform: uppercase;
}


#job-history {
	width: 100%;
	box-sizing: border-box;
	min-height: 55px;
	max-height: 25%;
	height: 25%;
	display: table;
/*	padding: 2em;*/
	background: var(--page-bg);
}

.job {
	display: table-cell;
	width: 31.9%;
	margin: 0 0.5%;
	min-height: 50px;
	height: 100%;
	padding: 2% 1em;
	vertical-align: top;
	box-shadow: inset 0 0 100px var(--box-shade);
}
.job#job-0 {
	padding-left: 2em;
}

.job#oldest {
	padding-right: 2em;
}

.job .header {
	display: table;
	width: 99%;
	padding-bottom: 2%;
	height: 15%;
	min-height: 2em;
	font-size: 1.2em;
	font-weight: bold;	
}
.job .title {
	display: table-cell;
	vertical-align: middle;
}
.job .subHeading {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
	font-style: italic;
	text-decoration: underline;
}
.job .body {
	text-align: justify;
	min-height: 100px;
	font-family: sans-serif;
	margin-top: 2.5%;
}
.job .description {
	display: block;
	height: 100%;
}
.job .footer {
	text-align: right;
	height: 15%;
	font-family: sans-serif;
}


/* Education & Acheivements */
#education-references {
	max-height: 150px;
	min-height: 55px;
	height: 25%;
	display: table;
	width: 100%;
	background: var(--page-bg);	
	font-family: sans-serif;
}

#education {
	display: table-cell;
	width: 60%;
	padding: 2em;
	box-shadow: inset 0 0 100px var(--box-shade);	
}

#education-references span {
	text-decoration: underline;
	font-family: serif;
}
#education .education {
	margin-bottom: 5%;
}
#education .cert-outer {
	width: 48%;
	display: table-cell;
	padding-right: 5px;
}
#education .cert-langs {
	display: table-cell;
	font-size: 0.7em;
	max-width: 95px;
	min-width: 85px;
	width: 40%;
}
#education .img {
	max-width: 49%;
	width: 43%;
	display: table-cell;
	vertical-align: top;
}
#education img {
	width: 80%;
	margin-right: auto;
}

#references {
	display: table-cell;
	vertical-align: middle;
	width: 39%;
	box-sizing: border-box;
	padding: 2em;
	box-shadow: inset 0 0 100px var(--box-shade);	
}

/* Projects */
#projects-carousel {
	min-height: 400px;
	display: table;
}
#carouselContents {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	min-height: 300px;
}

#carouselContents a.carousel-control-prev, #carouselContents a.carousel-control-next{
    
    width: 5%;
}
.project {
	background: var(--project-shade);
	padding: 5% 15%;
	font-family: sans-serif;
}

.project .header {
	text-align: center;
}
.project .title {
	font-weight: bold;
	font-family: serif;
	font-size: 1.1em;
	margin-bottom: 1%;
	text-decoration: underline;
}
.project .body {
	max-height: 300px;
	min-height: 150px;
}

.project .description {
	margin-top: 2%;
	padding-top: 2%;
	height: 100%;
	text-align: justify;
}

.project .footer {
	text-align: right;
}


.carousel-indicators {
	margin-top: 3px;
}






/* Media Queries! */


/* 
    1536 == monitor full-screen
    1098 == laptop full-screen   (& tablet landscape; roughly)
     768 == monitor half-screen  (& tablet portrait)
     568 == phone landscape
     375 == phone portrait
*/


@media only screen and ( max-width: 1098px ) {
    /* half a monitor screen... */
    
	#cv-sheet-div {
		 min-width: 700px;
		 width: 90%;	
	}
	#cv-sheet-header #title {
		width: 36%;
	}
	
	#cv-sheet-header #sub-head {
		width: 60%;
	}
	
	.job .title, .job .subHeading {
		display: block;
		width: 100%;
	}
}


@media only screen and ( max-width: 768px ) {
    /* half a monitor screen... */
	
	
	#cv-sheet-div {
		min-width: 330px;
		width: 95%;
	}
	
	#cv-sheet-header #title {
		display: block;
		width: 100%;
	}

	#cv-sheet-header #sub-head {
		 display: block;
		 width: 100%;
		 padding: 0;
	}

	#job-history {
		display: block;
		width: 100%;
	}
	.job {
		margin: 0;
		padding: 1em 2em;
		display: block;
		width: 100%;
/*		border-bottom: 1px solid;*/
	}
	.job .header .title {
		display: table-cell;
		width: 49%;
		vertical-align: middle;
	}
	.job .header .subHeading {
		display: table-cell;
		vertical-align: middle;
		width: 49%;
	}
	.job .footer { 
		padding: 1% 0 1.5% 0;
	}
	
	.job#oldest {
		border: none;
	}
}



@media only screen and ( max-width: 650px ) {
/*   at 568px (iphone6 and above landscape) or less, do: */
	#cv-sheet-div {
		width: 92%;
	}
	div {
		letter-spacing: 1px;
	}
	#cv-sheet-header, .job, .job#job-0, .job#oldest {
		padding: 5%;
		width: 100%;
		margin: 0;
	}
	.job .header .title {
		display: block;
		width: 100%;
	}
	
	.job .header .subHeading {
		display: block;
		width: 100%;
		text-decoration: underline;
	}

	#education-references {
		width: 100%;
		margin: 0;
	}
	
	#education, #references {
		display: block;
		width: 100%;
	}	
	
	.project {
		padding: 5% 8%;
	}
	
}


