.modal-close {
	background: skyblue;
	color: azure;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-left: auto;
	position:relative;
	top: -1%;
	left: -1%;
	box-shadow: 0 0 15px 5px skyblue;
}

.modal-close:hover {
	cursor:pointer;
}
.modal-close:active {
	background: lightblue;
}


.navbar{
	background-color: black;
	border-bottom: 0.1px solid grey;
	letter-spacing: 0.5px;
}
.navbar a:hover {
	font-weight: 500;
	letter-spacing: normal;
}


footer {
    height: 5%;
    background: black;
    color: white;
    text-align: center; 
    padding: 5px 0 ;
    font-family: Georgia, Times, serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 0.1px solid grey;
    z-index: 9999;
}

footer a {
	color:white;
	font-style: italic;
}
footer a:hover {
	text-decoration: none;
}

footer #tenerife-jack {
	width: 2%;
	height: 0.8em;
	display: inline;
	min-width: 23px;
}
#github, #linked-in, #cv-pdf {

	height: 1em;
	background: white;
	border-radius: 50%;
}
#cv-pdf {
	background: black;
	border-radius: 0;
}





/*

.align-right {
	margin-left: auto;
	padding-right: 1%;
	width: 50px;
}


.sidebar {
	display: none;
	position: fixed;
	top: 55px;
	z-index: 99;
	right: 0;
	width: 20%;
	height: 80%;
	background: rgba(30,30,30,0.8);
}
.sidebar.show {
	animation: slide 0.3s 1 linear;
}


@keyframes slide {
	from { right: -20%; }
	to   { right: 0; }
}

.cv-pdf {
	z-index: 999;
	width: 100%;
	height: 100%;
	position:fixed;
	background: rgba(0,0,0,0.7);
	top: 20px;
	padding: 10%;
	text-align: center;
}

.the-pdf {
	width: 100%;
	height: 90%;
}

#pdf-png:hover {
    cursor: pointer;
}

.sidebar ul {
	height: 100%;
	padding: 1%;
}

.sidebar li {
	height: 30%;
	padding: 5%;
	padding-top: 8%;
	list-style: none;
	text-align: center;
	width: 88%;
	background: rgba(80,80,80,0.8);;
	margin: 5%;
	border-radius: 3%;
	overflow: hidden;
}

.sidebar li img {
	height: 100px;
}
*/
