.sidebar {
	display: none;
	position: fixed;
	top: 55px;
	z-index: 99;
	right: 0;
	width: 20%;
	height: 80%;
	background: rgba(30,30,30,0.8);
}
.sidebar.show {
	animation: slide 0.3s 1 linear;
}


@keyframes slide {
	from { right: -20%; }
	to   { right: 0; }
}


.sidebar ul {
	height: 100%;
	padding: 1%;
}

.sidebar li {
	height: 30%;
	padding: 5%;

	list-style: none;
	text-align: center;
	width: 88%;
	background: rgba(80,80,80,0.8);;
	margin: 5%;
	border-radius: 3%;
	overflow: hidden;
}

.sidebar li img {
	height: 100px;
}

.align-right {
	margin-left: auto;
	padding-right: 1%;
	width: 50px;
}

.navbar{
	background-color: black;
	border-bottom: 0.1px solid grey;
}

#my-cv:hover {
	cursor:pointer;
}