html, 
body, 
.cover {
	background: black;
   height: 95.5%;
}

.cover {
   background: url('../img/night.jpg') center center no-repeat;
   background-size: cover;
   display: table; /* to VERTICAL ALIGN the children! */
   width: 100%; /* to VERTICAL ALIGN the children! */
	height: 100%;
   padding: 0 20px;
   box-shadow: inset 0 0 100px black;  /*use this to darken or lighten a box! */
}

.cover-text {
   color: white;
   text-align: center;
   display: table-cell;/* to VERTICAL ALIGN the children! */
   vertical-align: bottom;
   position: relative;
   top: 50px;
}

.cover-text h1 {
   font-size: 70px;
   letter-spacing: -3px;
}

.navbar{
	background-color: black;
	border-bottom: 0.1px solid white;
}

.testimonial {
   padding: 40px 0;
}

blockquote {
   font-family: Georgia, Times, serif;
   font-style: italic;
   font-size: 32px;
   color: white;
}

blockquote cite {
   display: block;
   text-align: right;
   text-transform: uppercase;
   font-family: Helvetica, Arial, sans-serif;
   font-style: normal;
   font-size: 18px;
   font-weight: bold;
   color: #888;
}

/*
section {
   padding: 40px ;
}
*/

h3 {
	color: white;
	text-align: left;
}

h2 {
   text-align: center;
   font-size: 28px;
   font-weight: bold;
   text-transform: uppercase;
   margin: 0 0 60px;
}

/*
h2 + p {   sibling selector; where we have a h2 and p next to each other...
   
   text-align: center;
   margin-top: -60px;
}
*/

footer {
   background: '#222';
   color: white;
   text-align: center; 
   padding: 5px 0 ;
   font-family: Georgia, Times, serif;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 0.1px solid white;
}

footer a {
	color:white;
/*	font-weight: bolder;*/
	font-style: italic;
}

footer i {
	background: url('../img/tenerifeJack.png') top center no-repeat;
	background-size: cover;
	font-weight: lighter;
}


/* Media Queries! */

@media only screen and ( max-width: 568px ) {
/*   at 568px (iphone6 and above landscape) or less, do: */
   section {
      padding: 20px;
      font-size: 0.8em;
   }
   
   .cover {
      font-size: 10px;
   }
   
}



