/* https://vanseodesign.com/css/vertical-centering/    <<< print this!! */  

body {
    padding: 0;
    margin: 0;
}

#background-cover {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: orange;
    border: none;
    box-sizing: border-box;
    overflow-y: scroll;
}

#cv-sheet-div {

    box-sizing: border-box;
    padding: 2em;
    background: yellow;
    max-width: 1000px;
    width: 75%;
    margin: 2% auto;
}

#cv-sheet-header {
    max-height: 150px;
    min-height: 55px;
    height: 25%;
    display: table;
    padding-right: 1%;
}

#cv-sheet-header #title {
    display: table-cell;
    width: 23%;
    min-width: 25%;
    vertical-align: middle;
    text-align: center;
}

#cv-sheet-header #sub-head {
    display: table-cell;
    max-width: 73%;
    width: 73%;
    min-width: 68%;
    text-align: justify;
    vertical-align: middle;
}

#job-history {
    width: 100%;
    padding: 0 0.5%;
    box-sizing: border-box;
    
/*    max-height: 150px;*/
    min-height: 55px;
    height: 25%;
}

.job {
    display: inline-block;
    width: 31.9%;
    margin: 0 0.5%;
    box-sizing: border-box;
    text-align: justify;
}





div {
    border: 1px solid black;
}





/* Media Queries! */


/* 
    1536 == monitor full-screen
    1098 == laptop full-screen   (& tablet landscape; roughly)
     768 == monitor half-screen  (& tablet portrait)
     568 == phone landscape
     375 == phone portrait
*/


@media only screen and ( max-width: 768px ) {
    /* half a monitor screen... */
    
}



@media only screen and ( max-width: 568px ) {
/*   at 568px (iphone6 and above landscape) or less, do: */
    #cv-sheet-div {
        background: green;
    }
   
}
